<div class="workspace">
  <mat-toolbar class="workspace__topbar" color="transparent">
    <div class="workspace__title-wrap">
      <mat-icon class="workspace__title-icon">account_tree</mat-icon>
      <div class="workspace__title">
        {{ diagramName || ('workspace.defaultDiagramName' | translate) }}
      </div>
    </div>

    <span class="workspace__topbar-spacer"></span>
    </mat-toolbar>

  <div class="workspace__body">
    <ng-diagram
      class="workspace__canvas"
      role="application"
      [attr.aria-label]="'workspace.canvasAria' | translate"
      [model]="model"
      [config]="diagramConfig"
      (selectionChanged)="onSelectionChanged()"
      (diagramInit)="onDiagramInit()"
    >
      <ng-diagram-background></ng-diagram-background>
      <ng-diagram-minimap
        position="bottom-right"
        [width]="220"
        [height]="140"
        [showZoomControls]="true"
      ></ng-diagram-minimap>
    </ng-diagram>
  </div>
  </div>
