<div class="workspace">
  <mat-toolbar class="workspace__topbar" color="transparent">
    <div class="workspace__title-wrap">
      <mat-icon class="workspace__title-icon">account_tree</mat-icon>
      <div class="workspace__title">
        {{ diagramName || ('workspace.defaultDiagramName' | translate) }}
      </div>
    </div>

    <span class="workspace__topbar-spacer"></span>

    <div
      class="workspace__topbar-actions"
      role="toolbar"
      [attr.aria-label]="'workspace.editToolsAria' | translate"
      >
      <button
        mat-flat-button
        class="workspace__action-btn"
        type="button"
        (click)="undo()"
        [disabled]="!canUndo()"
        [matTooltip]="'workspace.undoTooltip' | translate"
        >
        <mat-icon>undo</mat-icon>
        {{ 'workspace.undo' | translate }}
      </button>

      <button
        mat-flat-button
        class="workspace__action-btn"
        type="button"
        (click)="redo()"
        [disabled]="!canRedo()"
        [matTooltip]="'workspace.redoTooltip' | translate"
        >
        <mat-icon>redo</mat-icon>
        {{ 'workspace.redo' | translate }}
      </button>

      <button
        mat-flat-button
        class="workspace__action-btn"
        type="button"
        (click)="zoomToFit()"
        [matTooltip]="'workspace.zoomFitTooltip' | translate"
        >
        <mat-icon>fit_screen</mat-icon>
        {{ 'workspace.zoomFit' | translate }}
      </button>

      <button
        mat-flat-button
        class="workspace__action-btn"
        type="button"
        (click)="exportDiagram()"
        [matTooltip]="'workspace.exportTooltip' | translate"
        >
        <mat-icon>file_download</mat-icon>
        {{ 'workspace.export' | translate }}
      </button>

      <button
        mat-flat-button
        class="workspace__action-btn"
        type="button"
        (click)="openImportFilePicker()"
        [matTooltip]="'workspace.importTooltip' | translate"
        >
        <mat-icon>file_upload</mat-icon>
        {{ 'workspace.import' | translate }}
      </button>

      <input
        #importFileInput
        type="file"
        accept=".json,application/json"
        hidden
        (change)="onImportFileSelected($event)"
        />

        <button
          mat-flat-button
          class="workspace__action-btn"
          type="button"
          (click)="groupSelected()"
          [matTooltip]="'workspace.groupTooltip' | translate"
          >
          <mat-icon>folder_open</mat-icon>
          {{ 'workspace.group' | translate }}
        </button>

        <button
          mat-flat-button
          class="workspace__action-btn"
          type="button"
          (click)="ungroupSelected()"
          [matTooltip]="'workspace.ungroupTooltip' | translate"
          >
          <mat-icon>folder_off</mat-icon>
          {{ 'workspace.ungroup' | translate }}
        </button>

        <button
          mat-flat-button
          class="workspace__action-btn"
          type="button"
          (click)="saveSessionRequested.emit()"
          [matTooltip]="'workspace.saveTooltip' | translate"
          >
          <mat-icon>save</mat-icon>
          {{ 'workspace.save' | translate }}
        </button>

        <button
          mat-flat-button
          class="workspace__action-btn workspace__action-btn--danger"
          type="button"
          (click)="deleteSelected()"
          [disabled]="!canDeleteSelection()"
          [matTooltip]="'workspace.deleteTooltip' | translate"
          >
          <mat-icon>delete_outline</mat-icon>
          {{ 'workspace.delete' | translate }}
        </button>
      </div>
    </mat-toolbar>

    <div class="workspace__body">
      <div class="workspace__stencil" [attr.aria-label]="'workspace.stencilAria' | translate">
        <div class="workspace__stencil-title">{{ 'workspace.stencilTitle' | translate }}</div>
        @for (item of paletteItems; track item.type) {
          <button
            mat-stroked-button
            class="workspace__stencil-item"
            type="button"
            (click)="addFromPalette(item.type, item.template ?? false)"
          >
            {{ item.labelKey | translate }}
          </button>
        }
      </div>

      <ng-diagram
        class="workspace__canvas"
        role="application"
        [attr.aria-label]="'workspace.canvasAria' | translate"
        [model]="model"
        [config]="diagramConfig"
        [nodeTemplateMap]="nodeTemplateMap"
        (selectionChanged)="onSelectionChanged()"
        (diagramInit)="onDiagramInit()"
      >
        <ng-diagram-minimap
          position="bottom-right"
          [width]="220"
          [height]="140"
          [showZoomControls]="true"
        ></ng-diagram-minimap>
      </ng-diagram>
    </div>
  </div>
