<mat-toolbar class="app-toolbar" color="transparent">
  <div class="app-toolbar__brand">
    <mat-icon class="app-toolbar__logo">bolt</mat-icon>
    <span class="brand">{{ diagramName() }}</span>
    <span class="app-toolbar__chip">{{ "app.brandChip" | translate }}</span>
  </div>
  <span class="spacer"></span>
  <div class="app-toolbar__actions">
    <button
      mat-flat-button
      class="app-toolbar__action"
      type="button"
      [matMenuTriggerFor]="settingsMenu"
      [attr.aria-label]="'app.settingsAria' | translate"
      [matTooltip]="'app.settings' | translate"
    >
      <mat-icon>settings</mat-icon>
      {{ "app.settings" | translate }}
    </button>
    <mat-menu
      #settingsMenu="matMenu"
      class="app-settings-menu"
      xPosition="before"
    >
      <button
        mat-menu-item
        disabled
        type="button"
        class="app-settings-menu__heading"
      >
        {{ "app.theme" | translate }}
      </button>
      <button mat-menu-item type="button" (click)="onThemeSelect('light')">
        <mat-icon
          [style.visibility]="theme() === 'light' ? 'visible' : 'hidden'"
        >
          check
        </mat-icon>
        <span>{{ "app.light" | translate }}</span>
      </button>
      <button mat-menu-item type="button" (click)="onThemeSelect('dark')">
        <mat-icon
          [style.visibility]="theme() === 'dark' ? 'visible' : 'hidden'"
        >
          check
        </mat-icon>
        <span>{{ "app.dark" | translate }}</span>
      </button>
      <mat-divider></mat-divider>
      <button
        mat-menu-item
        disabled
        type="button"
        class="app-settings-menu__heading"
      >
        {{ "app.language" | translate }}
      </button>
      <button mat-menu-item type="button" (click)="onLanguageSelect('ko')">
        <mat-icon
          [style.visibility]="language() === 'ko' ? 'visible' : 'hidden'"
        >
          check
        </mat-icon>
        <span>{{ "app.korean" | translate }}</span>
      </button>
      <button mat-menu-item type="button" (click)="onLanguageSelect('en')">
        <mat-icon
          [style.visibility]="language() === 'en' ? 'visible' : 'hidden'"
        >
          check
        </mat-icon>
        <span>{{ "app.english" | translate }}</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<div class="app-pagebar">
  <button
    type="button"
    class="app-pagebar__icon-btn"
    aria-label="새 다이어그램 추가"
    (click)="onAddPage()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <div class="app-pagebar__tabs">
    <mat-tab-group
      [selectedIndex]="activePageIndex()"
      (selectedIndexChange)="onSelectPage($event)"
      animationDuration="0ms"
      mat-stretch-tabs="false"
      class="app-pagebar__tab-group"
    >
      @for (page of pages(); track page.id) {
        <mat-tab [label]="page.name"></mat-tab>
      }
    </mat-tab-group>
  </div>
</div>

<main>
  <router-outlet></router-outlet>
</main>
